networks:
  monitoring:
    name: monitoring
    driver: bridge
    external: true

services:
  prometheus:
    image: docker.io/prom/prometheus:v3.7.3
    container_name: prometheus
    environment:
      TZ: America/Buenos_Aires
      PROM_USER: ${PROM_USER}
      PROM_PASS: ${PROM_PASS}
      PROM_PASS_HASH: ${PROM_PASS_HASH}
    volumes:
      - ./start-prometheus.sh:/start-prometheus.sh:ro
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    entrypoint:
      - "/bin/sh"
      - "/start-prometheus.sh"
      - "${PROM_USER}"
      - "${PROM_PASS}"
      - "${PROM_PASS_HASH}"
    restart: unless-stopped
    networks:
      - monitoring

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
    networks:
      - monitoring

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.52.1
    container_name: cadvisor
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command:
    - "--port=9110"
    - "--enable_metrics=cpu,memory,network"
    - "--store_container_labels=false"
    - "--docker_only=true"
    restart: unless-stopped
    ports:
      - "9110:9110"
    networks:
      - monitoring

  init-dashboards:
    image: alpine:3.23
    container_name: init-dashboards
    volumes:
      - grafana-dashboards:/dashboards
      - ./scripts/download_dashboard.sh:/download_dashboard.sh:ro
    command: |
      sh -c '
        set -e
        apk add --no-cache curl jq

        /download_dashboard.sh \
          1860 \
          /dashboards/node-exporter-linux-info.json \
          "Node-exporter: Linux Info (1860)"

        /download_dashboard.sh \
          19908 \
          /dashboards/cadvisor-general-cpu-absolute.json \
          "CAdvisor: General [CPU absolute] (19908)"

        /download_dashboard.sh \
          14282 \
          /dashboards/cadvisor-general-memory-io-cpu-aggregate.json \
          "CAdvisor: General [Memory + IO + CPU aggregate] (14282)"

        /download_dashboard.sh \
          19792 \
          /dashboards/cadvisor-per-container-info.json \
          "CAdvisor: Per Container Info (19792)"
      '
    networks:
      - monitoring

  grafana:
    image: grafana/grafana-oss
    environment:
      - SERVICE_URL_GRAFANA_3000
      - PROM_USER=${PROM_USER}
      - PROM_PASS=${PROM_PASS}
    volumes:
      - 'grafana-data:/var/lib/grafana'
      - './grafana/provisioning/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:ro'
      - './grafana/provisioning/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml:ro'
      - 'grafana-dashboards:/var/lib/grafana/dashboards'
    depends_on:
      init-dashboards:
        condition: service_completed_successfully
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://127.0.0.1:3000/api/health'
      interval: 5s
      timeout: 20s
      retries: 10
    ports:
      - "3000:3000"
    networks:
      - monitoring

volumes:
  prometheus-data:
  grafana-data:
  grafana-dashboards:
