networks:
  monitoring:
    name: monitoring
    driver: bridge
    external: true

volumes:
  prometheus-data:
    driver: local
  grafana-data:
    driver: local

services:
  prometheus:
    image: docker.io/prom/prometheus:v3.7.3
    container_name: prometheus
    environment:
      TZ: America/Buenos_Aires
      PROM_USER: ${PROM_USER}
      PROM_PASS: ${PROM_PASS}
      PROM_PASS_HASH: ${PROM_PASS_HASH}
    volumes:
      - ./start-prometheus.sh:/start-prometheus.sh:ro
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    entrypoint:
      - "/bin/sh"
      - "/start-prometheus.sh"
      - "${PROM_USER}"
      - "${PROM_PASS}"
      - "${PROM_PASS_HASH}"
    restart: unless-stopped
    networks:
      - monitoring

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
    networks:
      - monitoring

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.52.1
    container_name: cadvisor
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command:
    - "--port=9110"
    - "--enable_metrics=cpu,memory,network"
    - "--store_container_labels=false"
    - "--docker_only=true"
    restart: unless-stopped
    ports:
      - "9110:9110"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana-oss
    environment:
      - SERVICE_URL_GRAFANA_3000
    volumes:
      - 'grafana-data:/var/lib/grafana'
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://127.0.0.1:3000/api/health'
      interval: 5s
      timeout: 20s
      retries: 10
    ports:
      - "3000:3000"
    networks:
      - monitoring
