services:
  prometheus:
    image: docker.io/prom/prometheus:v3.7.3
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    environment:
      TZ: America/Buenos_Aires
      PROM_USER: ${PROM_USER}
      PROM_PASS_HASH: ${PROM_PASS_HASH}
    entrypoint: |
        sh -c '
          {
            echo "basic_auth_users:";
            # This line should now work correctly with the clean .env variable
            printf "  %s: %s\n" ${PROM_USER} ${PROM_PASS_HASH};
          } > /etc/prometheus/web.yml &&
          echo "Generated web.yml:" &&
          exec prometheus \
            --config.file=/etc/prometheus/prometheus.yml \
            --web.config.file=/etc/prometheus/web.yml \
            --storage.tsdb.path=/prometheus \
            --storage.tsdb.retention.time=20d \
            --storage.tsdb.retention.size=2GB \
            --web.enable-lifecycle
        '
    restart: unless-stopped


  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
      
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss
    environment:
      - SERVICE_URL_GRAFANA_3000
    volumes:
      - 'grafana-data:/var/lib/grafana'
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://127.0.0.1:3000/api/health'
      interval: 5s
      timeout: 20s
      retries: 10
    ports:
      - "3000:3000"

volumes:
  prometheus-data:
    driver: local
  grafana-data:
    driver: local
